@import 'src/styles/base/mixins';
@import 'src/styles/base/colors';

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: $blue-600;
  padding: 0 1rem;

  &__link {
    height: 35px;
    display: inline-flex;
    align-items: center;
    background-color: $blue-600;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__hide {
    @include small {
      display: none;
    }
  }

  &__noVisible {
    visibility: hidden;
  }

  &__icon {
    height: 100%;
  }

  &__home {
    display: none;
    font-weight: bold;
    color: black;

    @include small {
      display: block;
    }
  }
}
