@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/colors.scss';
@import 'src/styles/base/_fonts.scss';

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 92vh;

  @include small {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 87vh;
    @include card;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 73vh;
    overflow: auto;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;

    @include extra-small {
      width: 60%;
    }

    @include small {
      margin-top: 0;
      width: 100%;
    }
  }
}
